.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.50rem;
}

.container input {
    width: 638px;
    height: 3rem;
    background: var(--gray-500);
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    color: var(--gray-100);
    line-height: 1.4;
}

.container button {
    display: flex;
    align-items: center;
    height: 3rem;
    width: auto;
    background: var(--blue-dark);
    color: var(--white);
    border: 0;
    border-radius: 8px;
    margin-left: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.container button:hover {
    background: var(--blue);
    color: var(--white);
}

.container button svg {
    margin-left: 0.5rem;
}